
{% load sekizai_tags kwacros i18n %}
{% load cms_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    
    <title>{% block html_title %}{% trans "Welcome" %}{% endblock %}</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=no" >
        
    <script src="{{ STATIC_URL }}libs/jquery-1.9.1.js" type="text/javascript"></script>
        
    {% render_block "meta" %}
    {% render_block "css" %}
    {% render_block "js" %}
    
    {% block html_headers %}
    {% endblock %}
    
</head>

<body {% block body_attributes %}{% endblock %}>
    
    {% block full_body %}
    {% endblock %}
    
    <script language="javascript" type="text/javascript">
        
        function default_ajax_error_handler(jqXHR, extStatus, errorThrown) {
            msg = "Server communication problem - " + extStatus;
            if (errorThrown) {
                msg += " (" + errorThrown + ")";
            }
            $.jnotify(msg, "error", 2000);
        }
    
    
    String.prototype.format = String.prototype.f = function() {
        var s = this,
        i = arguments.length;
        
        while (i--) {
            s = s.replace(new RegExp('\\{' + i + '\\}', 'gm'), arguments[i]);
        }
        return s;
    };
    

        
    {% render_block "definition_js" %}
    
    
    var launchPulsationOnAdminNotes = function(prefix) {
    /* Signal that parts of the page are for admins only */
    $(prefix + " .admin-note").not(prefix + " .admin-note .admin-note").pulsate({
    color: "#9D8126",                       // set the color of the pulse
    reach: 4,                              // how far the pulse goes in px
    speed: 1000,                            // how long one pulse takes in ms
    pause: 500,                               // how long the pause between pulses is in ms
    glow: true,                             // if the glow should be shown too
    repeat: true,                           // will repeat forever if true, if given a number will repeat for that many times
    onHover: false                          // if true only pulsate if user hovers over the element
    });
    };
    
    
    var INIT_JS = function() {
    
    if (typeof my_fast_transitions == 'undefined' && 0) {  // JS PAGE TRANSITIONS DISABLED ATM
    my_fast_transitions = new ft({ /* data-ftrans attr must be set to slide/slideup/slidedown/fade/flip/pop */
    "navB" : "",   //Effect for navigation button, leave it empty to disable it
    "but" : false,           //Flag to enable transitions on button, false by default
    "cBa" : INIT_JS,      //callback function, with newly defined body
    }); // nifty javascript transitions between pages
    }
    
    
    $("#full_header").mmenu({
    navbar: {
    add: true,
    title: "{{ _('Controls')|escapejs }}",
    titleLink: null
    },
    // options : http://mmenu.frebsite.nl/documentation/options/
    /* DO NOT enable swip-to-open, it might interfere with mobile touch-scrolling
    dragOpen: {
    open: $.mmenu.support.touch  // only on touch devices
    }*/
    },
    {
    // configuration : http://mmenu.frebsite.nl/documentation/options/configuration.html
    clone: true
    });
    //var mmenuApi = $("#full_header").data( "mmenu" );
    //mmenuApi.open();
    
    $('#menulist').dropmenu(
    {
    effect          : "none",       //  "slide", "fade", or "none" - BEWARE, ANIMATIONS CREATE A MINIBUG WITH MENU HOVER EVENT
    speed           : "fast", //  "normal", "fast", "slow", 100, 1000, etc
    timeout         : 300,
    nbsp            : true,
    maxWidth        : 250
    }
    );
    
    $( '#menulist li:has(ul)' ).doubleTapToGo();  // to make menu work on touch-devices
    
    /* only half working parralax system
    
    window.onscroll = function() {
    
    var speed = 0.6;
    var posX = Math.floor(window.pageXOffset * speed);
    var posY = Math.floor(window.pageYOffset * speed);
    
    $("body").css("background-position", posX + "px " + posY + "px");
    }
    */
    
    
    launchPulsationOnAdminNotes("body");
    
    /*
    $("form").disabler({ // FIXME - ALL disabled container must have an ID !! Let's create it on demand!!
    disable : true
    });*/
    
    
    // $.ajaxError(handler(event, jqXHR, ajaxSettings, thrownError)) - NO, we want it to be OVERRIDDEN by individual ajax settings
    $.ajaxSetup({
    error: default_ajax_error_handler
    });
    
    
    {% comment %}
    jNotify Usage:
    $.jnotify(message, [options]);
    $.jnotify(message, delay);
    $.jnotify(message, sticky);
    $.jnotify(message, type, [delay/sticky]); // success/warning/error or nothing (grey)
    {% endcomment %}
    
    jnotify_options = {
    // define core settings
    type: "",                                  // if a type is specified, then an additional class of classNotification
    // + type is created for each notification
    delay: 3500,                              // the default time to show each notification (in milliseconds)
    sticky: false,                             // determines if the message should be considered "sticky" (user
    // must manually close notification)
    closeLabel: "&times;",                     // the HTML to use for the "Close" link
    showClose: true,                           // determines if the "Close" link should be shown if notification is also sticky
    fadeSpeed: 600,                           // the speed to fade messages out (in milliseconds)
    slideSpeed: 250,                           // the speed used to slide messages out (in milliseconds)
    
    // define the class statements
    classContainer: "jnotify-container",       // className to use for the outer most container--this is where all the
    // notifications appear
    classNotification: "jnotify-notification", // className of the individual notification containers
    classBackground: "jnotify-background",     // className of the background layer for each notification container
    assClose: "jnotify-close",               // className to use for the "Close" link
    classMessage: "jnotify-message",           // className to use for the actual notification text container--this is
    // where the message is actually written
    
    // event handlers
    init: null,                                // callback that occurs when the main jnotify container is created
    create: null,                              // callback that occurs when when the note is created (occurs just before
    // appearing in DOM)
    beforeRemove: null,                        // callback that occurs when before the notification starts to fade away
    remove: null,                              // callback that occurs when notification is removed
    transition: null                          // allows you to overwrite how the transitions between messages are handled
    // receives the following arguments:
    //   container - jQuery object containing the notification
    //   message   - jQuery object of the actual message
    //   count     - the number of items left in queue
    //   callback  - a function you must execute once your transition has executed
    //   options   - the options used for this jnotify instance
    };
    
    $.jnotify.setup(jnotify_options);
    
    /* TESTS of JNOTIFY
    $.jnotify("mehello", "success", true);
    $.jnotify("mehello", "warning", true);
    $.jnotify("mehello", "error", true);
    $.jnotify("mehello", "", true);*/
    
    
    $(".notification_panel").css( 'cursor', 'pointer' );
    $(".notification_panel_content").css( 'cursor', 'auto' );
    $(".notification_panel").click(function() {
    $(this).slideUp();
    });
    $(".notification_panel_content").click(function(event) {
    event.stopPropagation();
    });
    
    
    {% render_block "onload_js" %}
    
    };
    
    $(document).ready(INIT_JS); // only called on full page loading, not on ajax-based fast-transitions
    </script>



    {% block sekizai_calls %}
    <!-- block solely used to place sekizai calls in sub-templates, must always call "block.super" -->
    {% endblock %}



</body>

</html>